body {
    margin: 0px;
    font-family: arial;
    font-size: 15px;
    color: #C4756B;
}

.background {
    background-color: #70F0E5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

footer {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 7px;
}

.main-container {
    height: 90%;
    width: 90%;
    background-color: none;
    /* border: solid 2px #FFB800; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAB3klEQVR4Xu2cy5KFIAwFuf//0TN7ZsqUSePF0G6RQ9IcXmr5GV4ogQ+qptgQKGwCgW4A9GeKYXWnvKq9DIxXJZgwYCk/gf4lLtCEC6+qPA4Ujr+XXGbI9yIAZyNQgcIEYLn/HBpNytXyOYWqXlT/0fYEOv4cv6MOuiwXqEBvO+rrQx6eps+Sc9sE97dABQoTgOUyDo22FXCI41XtCdTHd8vfg5VGhA7dwKH0HNlKL+PQVgDoZAQKExWoQGECsJwOFShMAJbToRsALZ0k4PhXyJXyyzi01OAKArBmKT+BbnD0LPUg7KYVcqX8Mg5dkUQbTYHCXSlQgcIEYLkdvhyBUwrlokWnVC7Qhp/ihJaCbyg5cIzrt7A69AGHwoY4S85tE9zfAhUoTACWyzg0WiXhEB+XK+UnUB/fLXesDoURPw4Ujr+XXGYO7UUAzkagAoUJwHI6VKAwAVhOhwoUJgDLZRxa2vgm4n9VewI98CyvQxPD+qpKe6Awr15ymTm0FwE4G4EKFCYAy+3woUO06FTLZ2RVPX8zNBEV6ARkHlURIB0KO+rrQOFp+iw5t01wfwtUoDABWC7j0LurajXkV7UnUJ+H+t8mh3yVwMn1M3PoybzC3AUaIrp3g0Dv8Qrv/gXX0aBVwb7tUQAAAABJRU5ErkJggg==")10 / 15px / 0 round;
    border-width: 10px;
    border-style: solid;
}

.broider {
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAB3klEQVR4Xu2cy5KFIAwFuf//0TN7ZsqUSePF0G6RQ9IcXmr5GV4ogQ+qptgQKGwCgW4A9GeKYXWnvKq9DIxXJZgwYCk/gf4lLtCEC6+qPA4Ujr+XXGbI9yIAZyNQgcIEYLn/HBpNytXyOYWqXlT/0fYEOv4cv6MOuiwXqEBvO+rrQx6eps+Sc9sE97dABQoTgOUyDo22FXCI41XtCdTHd8vfg5VGhA7dwKH0HNlKL+PQVgDoZAQKExWoQGECsJwOFShMAJbToRsALZ0k4PhXyJXyyzi01OAKArBmKT+BbnD0LPUg7KYVcqX8Mg5dkUQbTYHCXSlQgcIEYLkdvhyBUwrlokWnVC7Qhp/ihJaCbyg5cIzrt7A69AGHwoY4S85tE9zfAhUoTACWyzg0WiXhEB+XK+UnUB/fLXesDoURPw4Ujr+XXGYO7UUAzkagAoUJwHI6VKAwAVhOhwoUJgDLZRxa2vgm4n9VewI98CyvQxPD+qpKe6Awr15ymTm0FwE4G4EKFCYAy+3woUO06FTLZ2RVPX8zNBEV6ARkHlURIB0KO+rrQOFp+iw5t01wfwtUoDABWC7j0LurajXkV7UnUJ+H+t8mh3yVwMn1M3PoybzC3AUaIrp3g0Dv8Qrv/gXX0aBVwb7tUQAAAABJRU5ErkJggg==") 28 / 13px / 0 round;
    border-width: 15px;
    border-style: solid;
    width: 92%;
    height: 5%;
}

.nav {
    /* width: 92%;
    height: 5%; */
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    box-shadow: 0px 0px 98px 40px rgba(255, 183, 0, 0.747);
    /* border: solid 1px black; */
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 0px 0px 10px #a686f1;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #C4756B;
}

.box1 {
    background-color: rgba(57, 27, 27, 0.945);
    height: 90%;
    width: 70%;
    margin: 10px;
    border: solid 2px #ac5955;
    box-shadow: -2px -1px 250px rgb(0, 248, 124);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-box {
    height: 100px;
    width: 200px;
    background-color: #DAD9D9;
    box-shadow: 0px 0px 50px 0px rgb(255, 138, 0, 0.78);
    margin-top: 40px;
    margin-left: 40px;
    z-index: 1;
}

.tags {
    border-left: red 1px solid;
    width: 20%;
    height: 100%;
}
.tag-header {
    /* border-bottom: solid 1px red;
    height: 10%; */
    text-decoration: underline 1px red;
    padding: 20px;
    color: bisque;
}
.tag {
    color: bisque;
    font-size: 12px;
    text-decoration: underline 1px red;
    padding: 20px;
}
.avatar-border {
    border: solid 1px red;
    padding: 10px;
    background-color: none;
    width: 12vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    margin-top: 20px;
}

.avatar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 100%;
    height: 100%; */
}

.avatar-img {
    width: 12vw;
    height: 15vw;
    /* background-color: none; */
    box-shadow: 0px 0px 50px 0px rgb(255, 138, 0, 0.78);
    /* margin-top: 3vw; */
    /* border: solid 1px red;
    padding: 10px; */
}

.user-info {
    /* background-color: red; */
    /* margin: 2vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user {
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.username {
    font-size: 12px;
}

.activity {
    font-size: 12px;
}

.bio {
    font-size: 12px;
    color: bisque;
    width: 70%;
}

.box2 {
    background-color: rgba(57, 27, 27, 0.945);
    height: 90%;
    width: 20%;
    margin: 10px;
    border: solid 2px #ac5955;
    box-shadow: 20px 0px 150px rgb(19, 15, 249, 0.86);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}