body {
    margin: 0px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #8f322d;
    cursor: url(https://i.postimg.cc/C5RhzBfz/Ellipse-1.png), auto;
    background-color: #70F0E5;
    /* background-color: #c3d4f8; */
    width: 100%;
    height: 100%;
    /* position: fixed; */
}
a {
    cursor: url(https://i.postimg.cc/C5RhzBfz/Ellipse-1.png), auto;
}
.background {
    /* background-color: #70F0E5;
    width: 100%;
    height: 100%;
    position: fixed; */
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

footer {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 7px;
}

.main-container {
    height: 90%;
    width: 90%;
    background-color: none;
    /* border: solid 2px #FFB800; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAB3klEQVR4Xu2cy5KFIAwFuf//0TN7ZsqUSePF0G6RQ9IcXmr5GV4ogQ+qptgQKGwCgW4A9GeKYXWnvKq9DIxXJZgwYCk/gf4lLtCEC6+qPA4Ujr+XXGbI9yIAZyNQgcIEYLn/HBpNytXyOYWqXlT/0fYEOv4cv6MOuiwXqEBvO+rrQx6eps+Sc9sE97dABQoTgOUyDo22FXCI41XtCdTHd8vfg5VGhA7dwKH0HNlKL+PQVgDoZAQKExWoQGECsJwOFShMAJbToRsALZ0k4PhXyJXyyzi01OAKArBmKT+BbnD0LPUg7KYVcqX8Mg5dkUQbTYHCXSlQgcIEYLkdvhyBUwrlokWnVC7Qhp/ihJaCbyg5cIzrt7A69AGHwoY4S85tE9zfAhUoTACWyzg0WiXhEB+XK+UnUB/fLXesDoURPw4Ujr+XXGYO7UUAzkagAoUJwHI6VKAwAVhOhwoUJgDLZRxa2vgm4n9VewI98CyvQxPD+qpKe6Awr15ymTm0FwE4G4EKFCYAy+3woUO06FTLZ2RVPX8zNBEV6ARkHlURIB0KO+rrQOFp+iw5t01wfwtUoDABWC7j0LurajXkV7UnUJ+H+t8mh3yVwMn1M3PoybzC3AUaIrp3g0Dv8Qrv/gXX0aBVwb7tUQAAAABJRU5ErkJggg==")10 / 15px / 0 round;
    border-width: 10px;
    border-style: solid;
}

.broider {
    width: 92%;
    height: 5%;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAA4klEQVRYR+1YQQ7AIAjT/z96S4wHtyxSSCGBueu0raVgtt6SPD2JzuYh9JqHp2JTwabAMKFvIhfiJXIQ35ej0EZitiG+XelRJyUiK87Di9RCJYeIVR9QEF+JjFqdQzOpwk89R1UnjVrs4aiL9iOUbStj4LM0badFCaEspyg4KZtJunPZN46Kb3VUtZFQTxVfytITTPKDKDGe2M0j2W0e+BJw6PvTTGy7f+2oSxN6OBomVLra2PGD+Ep816MllByx4px/T9bsShUZuCUyynLIigNn1EqANo8K32PgqwSgi9MIvQHmclArPx2YDwAAAABJRU5ErkJggg==") 14 / 14px / 0 round;
    border-width: 14px;
    border-style: solid;
}

.nav {
    /* width: 92%;
    height: 5%; */
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    box-shadow: 0px 0px 98px 40px rgba(255, 183, 0, 0.747);
    /* border: solid 1px black; */
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 0px 0px 10px #a686f1;
    border-radius: 20px;
}

.icon {
    width: 20px;
    height: 20px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #C4756B;
}

.box1 {
    background-color: #370707;
    /* height: 90%;
    width: 70%; */
    height: 500px;
    width: 70%;
    margin: 10px;
    /* border: solid 2px #ac5955; */
    border: solid 2px #451514;
    box-shadow: -2px -1px 250px rgb(0, 248, 124);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background-color: bisque; */
    width: 100%;
    padding: 10px;
}

.post-box {
    height: 100px;
    width: 120px;
    /* background-color: #DAD9D9; */
    box-shadow: 0px 0px 15px 0px rgba(255, 138, 0, 0.42);
    border: solid 1px red;
    /* margin-top: 40px;
    margin-left: 40px; */
    z-index: 1;
    margin: 20px;
    padding-left: 20px;
    font-size: 12px;
}

.post-divider {
    border-bottom: red solid 1px;
}

.post-box:hover {
    box-shadow: 0px 0px 15px 0px rgba(255, 136, 0, 0.89);
}

.tags {
    border-left: red 1px solid;
    width: 20%;
    height: 100%;
}

.tag-header {
    /* border-bottom: solid 1px red;
    height: 10%; */
    text-decoration: underline 1px red;
    padding: 20px;
    color: bisque;
}

.tag {
    color: bisque;
    font-size: 12px;
    text-decoration: underline 1px red;
    padding: 20px;
}

.tag>p:hover {
    color: red;
}

.avatar-border {
    border: solid 1px red;
    padding: 10px;
    background-color: none;
    width: 12vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    margin-top: 20px;
}

.avatar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 100%;
    height: 100%; */
    
}

/* .avatar-img:hover {
    cursor: url(https://i.postimg.cc/mrNRz9PT/output-onlinepngtools-14.png), auto;
} */

.avatar-img {
    width: 12vw;
    height: 15vw;
    /* background-color: none; */
    box-shadow: 0px 0px 50px 0px rgb(255, 138, 0, 0.78);
    /* margin-top: 3vw; */
    /* border: solid 1px red;
    padding: 10px; */
}

.user-info {
    /* background-color: red; */
    /* margin: 2vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user {
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.username {
    font-size: 12px;
}

.activity {
    font-size: 12px;
}

.bio {
    font-size: 12px;
    color: bisque;
    color: #8f322d;
    width: 70%;
}

.box2 {
    background-color: rgba(57, 27, 27, 0.945);
    background-color: #370707;
    height: 90%;
    width: 20%;
    margin: 10px;
    border: solid 2px #ac5955;
    box-shadow: 20px 0px 150px rgb(19, 15, 249, 0.86);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.landing {
    background-color: #370707;
    /* height: 90%;
    width: 70%; */
    height: 500px;
    width: 70%;
    margin: 10px;
    /* border: solid 2px #ac5955; */
    border: solid 2px #451514;
    box-shadow: -2px -1px 250px rgb(0, 248, 124);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.landing-broider {
    /* border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAA+ElEQVRYR+1YQQrDMAxrT7vvc33jPrf7TiuFdYcMIytRCmLutbalyIoDXheTbzXhuciJvp6P93H4232T1pYWOwheRrQFmgV8Wi6L96NoNlHl7Sxe2Pqskgiot04rhC9RpJCq5f/n0V7lsp5k6/vOUfakV8XLFZ1FvIiqlR0e+CpCaFr4E1Upparjd5nQG488xCrH4n0VZRNZYm08i+fX+lGFZuf7jyf15UGKI7zyKFKQ/V+KsoqheLmi6FIgQtF/X6LoaetVJMrL4tXu6dyPZj2L4oafUNQ6RCBa7cAlGQIuj35W6VEHfMfTaGuznmRx5IqyBLLxNkR3GZBAOqd8UU8AAAAASUVORK5CYII=") 14 / 14px / 0 round;
    border-width: 14px;
    border-style: solid; */
    width: 95%;
    height: 90%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAA8UlEQVRYR+2YUQuEMAyDt///oz08znuYlDRbJgQrvtkt8WvXQXszebqJzyY3erR2nD/fv6/ukW522nrM6Ci0S/hindW7Ec0uVCU1qxemPksSCc3uM4LwNYoIqVL+vhqdJZetSXZ/3z7K/ulT8XKiu4yXUTXZ5YavMoS6hb9RFSnVPn6HCd3xqIZYcqzenyi7kDU2xrN6fqlfJbR7vX97Uh8eRBzpVY0iguz3IsoSQ/FyouhQIEPRd1+j6GqbJRKty+rV7Omaj2ZrFsUtX6EodchANNqBQzIkXDX6G6VHGfBtT6upzdYkqyMnyhrIxtsY/QBNC6ArzpagNAAAAABJRU5ErkJggg==") 14 /  14px / 0 round;
    border-width:  14px;
    border-style:  solid;
}

.landing-inner-broider {
    width: 95%;
    height: 90%;
    margin: 10px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAABRUlEQVRYR+1YWw7CMAyjZ+Q0nIDTcEbQkDJNQZbjrIxZol9bX3Fcp2k7HvfxvGzK9fYcy2+u3/ZZvqNfro9xrD2Pi39kf9gDVZlCDKF6lXnI6OmAMkDMc5XJrr134GxLBnYaoAhIFSBzrDtPkBfjV43m7aRrgAFXgwsC7RrqapXZ8wWaMwMLsi6DWXvVDOazj1aDRmWCMYXa0UrCqFejc5YjEOherR01/iMzHWVYtQOBqtpVDau7ij/QvQzNHu+jUfX0tFe7XXvy6elnQGdr6Vvz+Wi0mypnM8ck9d9HZzPuo1GmDTUns/lYu/95FD2SqUyqmmTMZly+dyZ2z1aZY/2ZPd97vd2TTvU2ifqxpVRT9rr0LLpZdDINsvaqY37vo+H5rBcOlUm0slHvt49mRnNmyB53ma/OW85M1QlZMLIlRQRk+y8kAFGRJbDuCQAAAABJRU5ErkJggg==") 14 / 14px / 0 round;
    border-width: 14px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-inner-last-broider {
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAxElEQVQ4T7VV0RGFIAzDERzijfGmdwyHcATf1btyITZUn/IHFHJpmpZpWz57KaXM33Xyte35DOPZ3QpkFx3MwH2Pa4tnMbtzAmIQBLoaO5gqVs6cGeJ5xL6COvhVNiwVvh+jacSMdVROwOIi81oo1unJXqbv7BQ4+htZHpbiAvUKFrkhet+kr/TNpOB3Y5j2tImqy/pxezdtmqV4J960qSrEbZ+q9B9NKWWpnn0ya42ZUmra/Mu0dhS3ZDbde3qfQN/6o35P4a2F63VJDQAAAABJRU5ErkJggg==") 14 / 14px / 0 round;
    border-width: 14px;
    border-style: solid;
    width: 94%;
    height: 88%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text {
    /* background-color: rgba(100, 237, 191, 0.151); */
    border: solid 1px red;
    width: 99%;
    height: 99%;
    margin: 10px;
    overflow: scroll;
}
.text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px bisque;
    margin: 10px;
}
.images {
    display: flex;
    flex-direction: column;
}
.landing-img {
    width: 200px;
}
.avatar:hover .hover-div {
    display: block;
}

.hover-div {
    display: none;
    /* background: #653aff98; */
    margin-left: 68px;
    margin-top: 60px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    /* width:100px;
    height:100px; */
}


.waters {
    height: 200px;
}

