body {
    margin: 0px;
    font-family: arial;
    font-size: 15px;
    color: #C4756B;
}

.background {
    background-color: #70F0E5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 90%;
    width: 90%;
    background-color: none;
    /* border: solid 2px #FFB800; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;


    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACH0lEQVR4Xu3Zy3KEMAxEUeb/Pzqpyip4pqbdVhvzuNlaCOkgO4S8Nn6iAq9oNpJtgIaHAFBAwwLhdEwooGGBcDomFNCwQDgdEwpoWCCcjgk9IeiPqMl9aG2+9nq1rojS9e7u5zb7qdh0gQpMrQPaCCgwtQ7o00HTE5I4dv4/k6X1jTSztGC1n7dtW1ofoO9PqPRAAL0BaMeuXRpyuQldqtVxc0A7kJwQQB2tjtjDQTtqioaUGoxW0pFs5Ld8R9poCKBRzvqLeric7+mY0DB3AvRSW/KDX7R+QMNHCqCAhg+9E4LGO7xywsSWv3L/8doBDZMCegLQ6HtbuJ9EulJ/IxNaumGi48k5Sv0Byr9AJs9n8b10ZELdjkpbyL3Z7L/VVT2AKiFzHVATTIUDqoTM9RHQ1Wei2aIdXuoPUF6b7IlzL2BCXTERfzhouP57pRs5Q+8lEO4GUEDDAuF0iQktHeLhfkbSResHtPh1qX2CgAI6squ/XnO6LR/vsEkYbXh2sYktP7tGQMPCgALqCVxqYrzW/qJL/Y2coaUbDjR49CWl/gDlA/P0gb3chJYK7uCs5i9dv2LLlwoGNHxGAQpoxwzsQ9otXP2ipY4Eta4aSNe7u9/IGdoWnC5Qgal1QM2vS4CqkQHUFHpSeOIMfZKX7BVQSeQFAOp5yWhAJZEXAKjnJaMBlUReAKCel4wGVBJ5AYB6XjIaUEnkBQDqecnoXyEqgFWZksuSAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  10px;
    border-style:  solid;
    border-color: #FFB800;
}
/* .broider {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACH0lEQVR4Xu3Zy3KEMAxEUeb/Pzqpyip4pqbdVhvzuNlaCOkgO4S8Nn6iAq9oNpJtgIaHAFBAwwLhdEwooGGBcDomFNCwQDgdEwpoWCCcjgk9IeiPqMl9aG2+9nq1rojS9e7u5zb7qdh0gQpMrQPaCCgwtQ7o00HTE5I4dv4/k6X1jTSztGC1n7dtW1ofoO9PqPRAAL0BaMeuXRpyuQldqtVxc0A7kJwQQB2tjtjDQTtqioaUGoxW0pFs5Ld8R9poCKBRzvqLeric7+mY0DB3AvRSW/KDX7R+QMNHCqCAhg+9E4LGO7xywsSWv3L/8doBDZMCegLQ6HtbuJ9EulJ/IxNaumGi48k5Sv0Byr9AJs9n8b10ZELdjkpbyL3Z7L/VVT2AKiFzHVATTIUDqoTM9RHQ1Wei2aIdXuoPUF6b7IlzL2BCXTERfzhouP57pRs5Q+8lEO4GUEDDAuF0iQktHeLhfkbSResHtPh1qX2CgAI6squ/XnO6LR/vsEkYbXh2sYktP7tGQMPCgALqCVxqYrzW/qJL/Y2coaUbDjR49CWl/gDlA/P0gb3chJYK7uCs5i9dv2LLlwoGNHxGAQpoxwzsQ9otXP2ipY4Eta4aSNe7u9/IGdoWnC5Qgal1QM2vS4CqkQHUFHpSeOIMfZKX7BVQSeQFAOp5yWhAJZEXAKjnJaMBlUReAKCel4wGVBJ5AYB6XjIaUEnkBQDqecnoXyEqgFWZksuSAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
    border-color: #FFB800;
} */
.nav {
    width: 92%;
    height: 5%;
    margin: 10px;
    background-color: none;
    box-shadow: 0px 0px 98px 40px rgba(255, 183, 0, 0.747);
    border: solid 1px black;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #C4756B;
}
.box1 {
    background-color: rgba(57, 27, 27, 0.945);
    height: 90%;
    width: 70%;
    margin: 10px;
    border: solid 2px #ac5955;
    box-shadow: -2px -1px 250px rgb(0, 248, 124);
}
.post-box {
    height: 100px;
    width: 200px;
    background-color: #DAD9D9;
    box-shadow: 0px 0px 50px 0px rgb(255,138,0,0.78);
    margin-top: 40px;
    margin-left: 40px;
}
.avatar-border {
    border: solid 1px red;
    padding: 10px;
    background-color: none;
    width: 12vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px;
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* width: 100%;
    height: 100%; */
}
.avatar-img {
    width: 12vw;
    height: 15vw;
    /* background-color: none; */
    box-shadow: 0px 0px 50px 0px rgb(255,138,0,0.78);
    /* margin-top: 3vw; */
    /* border: solid 1px red;
    padding: 10px; */
}
.user-info {
    /* background-color: red; */
    margin: 2vw;
}
.username {
    font-size: 12px;
}
.bio {
    font-size: 12px;
    color: bisque;
}
.box2 {
    background-color: rgba(57, 27, 27, 0.945);
    height: 90%;
    width: 20%;
    margin: 10px;
    border: solid 2px #ac5955;
    box-shadow: 20px 0px 150px rgb(19,15,249, 0.86);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}